@font-face {
  font-family: Founder;
  src: url(/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
  font-family: CardinalR;
  src: url(/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: CardinalI;
  src: url(/cardinalfruitweb-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main-p {
  width: 100%;
  height: 100vh;
  /* background-color: #ff7575; */
  /* background-color: #333; */
  background-color: white;
}

#main {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f2a0a0;
}

/*  */

#nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  /* background-color: red; */
  align-items: center;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 20px;
}

#nav #part2 a:nth-last-child(1) {
  /* background-color: yellowgreen; */
  padding: 7px 18px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}

/* logo */
#nav > h1 {
  font-size: 20px;
  font-weight: 100;
}

#nav #part2 a:nth-last-child(1) #green {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -100%;
  background-color: springgreen;
  transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1):hover #green {
  left: 0;
}

#nav #part2 a:nth-last-child(1) h5 {
  font-weight: 100;
  position: relative;
  z-index: 99;
}

/* ABOUT ME CIRCLE */
#aboutme {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0%; */
  right: 10%;
  margin-top: 5%;
  width: 13vw;
  height: 13vw;
  background-color: #080808;
  border-radius: 50%;
  color: #fff;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

@keyframes circle2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Circle */
.circle {
  position: relative;
  width: 200px;
  height: 200px;
  /* background: red; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 76%;
  /* margin-top: -3%; */
}

#text3 {
  height: 160px;
  font-size: 20px;
  animation: anim 10s linear infinite;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#text3 span {
  position: absolute;
  transform-origin: 0 100px;
}

/*  */

/* LOOP */
#page {
  position: relative;
  height: 20vh;
  width: 100vw;
  background-color: #f1f1f1;
}

/* canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
} */
#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 50px;
  white-space: nowrap;
  font-family: gilroy;
}
#loop > h1 {
  font-weight: 100;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#loop > h1 > span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}
@keyframes anim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*  */

/* frame for hover on Contact */
.frame span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 5vw;
  /* background-color: red; */
  background-color: springgreen;
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  padding: 0 5vw;
  transform: translateY(-5vw);
}

.frame {
  position: relative;
  height: 5vw;
  z-index: 2;
  /* background-color: red; */
  overflow: hidden;
}

#text2 {
  font-size: 25px;
  position: absolute;
  font-family: monument;
  width: 60%;
  /* background-color: red; */
  z-index: 999;
  text-align: center;
  top: 16%;
  /* bottom: 16%; */
  /* margin-top: 5%; */
  /* right: 70%; */
  /* display: flex; */
  text-align: center;
  /* justify-content: center; */
  text-transform: uppercase;
}

#text {
  font-size: 25px;
  position: absolute;
  font-family: monument;
  width: 60%;
  z-index: 999;
  text-align: center;
  bottom: 26%;
  text-align: center;
  text-transform: uppercase;
}
/*  */

#top {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  /* background-color: #ff7d7d; */
  overflow: hidden;
  z-index: 9;
}

#center {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  transform-origin: center;
  overflow: hidden;
  /* background-color: #333; */
}

#bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  /* background-color: #80fcd7; */
  background-color: #fff;
  overflow: hidden;
}

#main h1 {
  font-family: Founder;
  font-size: 22vw;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: ;
}

#top-h {
  bottom: 50%;
}

#bottom-h {
  top: 0% !important;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f2a0a0; */
  font-family: "CardinalR";
  font-size: 4vw;
  /* margin-top: 100vh; */
  /* color: #fff; */
}

.content h2 {
  color: white;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  padding-top: 12vw;
  position: relative;
  z-index: 9;
  padding-top: 12vw;
}

.page1 h1 {
  font-size: 8vw;
  font-weight: 300;
  font-family: PP mori;
  margin-left: 6vw;
  transform-origin: left;
}

.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  transform-origin: left;
  margin-left: 26vw;
}

.page1 h5 {
  font-size: 20px;
  margin-left: 53vw;
}

/* projects */
.page3 {
  min-height: 2vh;
  width: 100%;
  background-color: yellow;
  padding-top: 2vw;
  position: relative;
  z-index: 9;
}

.page3 p {
  font-size: 20px;
  margin-left: 53vw;
}

/* slides for projects */

#slidephoto {
  position: absolute;
  width: 25vw;
  height: 30vw;
  background-color: aquamarine;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

#slidephotos {
  width: 100%;
  height: 400%;
  display: flex;
  flex-direction: column;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.photu {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

.photu:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1656231944351-1bdcbef1bc21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1524&q=80);
  background-size: cover;
  background-position: center;
}

.photu:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1656153816323-f3a8186cb239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-size: cover;
  background-position: center;
}

.photu:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1654859869130-fd0a2aa5539b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
  background-size: cover;
  background-position: center;
}

.photu:nth-child(4) {
  background-image: url(https://images.unsplash.com/photo-1653426375933-d2bbd510ae3a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1498&q=80);
  background-size: cover;
  background-position: center;
}

#view {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: blue;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#view h1 {
  font-size: 0.5vw;
  font-weight: 400;
  letter-spacing: 0.2vw;
  color: #fffefe;
}

#one {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: #080808;
}

#eff {
  margin-top: 5vw;
}

.stext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10vw;
  padding-right: 10vw;
}

.stext h1 {
  font-size: 5vw;
  font-weight: 400;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hrline {
  width: 80%;
  height: 1px;
  background-color: rgb(219, 219, 219);
  margin-top: 45px;
  margin-bottom: 45px;
}
