@font-face {
  font-family: Founder;
  src: url(/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
  font-family: CardinalR;
  src: url(/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: CardinalI;
  src: url(/cardinalfruitweb-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main-p {
  width: 100%;
  height: 100vh;
  /* background-color: #ff7575; */
  background-color: #333;
}

#main {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f2a0a0;
}

#top {
  position: absolute;
  top: -10%;
  width: 100%;
  height: 50vh;
  /* background-color: #fff; */
  background-color: #ff7d7d;
  overflow: hidden;
}

#center {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

#bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  background-color: #80fcd7;
  overflow: hidden;
}

#main h1 {
  font-family: Founder;
  font-size: 22vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#top-h {
  bottom: 50%;
}

#bottom-h {
  top: 10% !important;
}
