@font-face {
  font-family: Founder;
  src: url(/FoundersGroteskCondensed-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main-p {
  width: 100%;
  height: 100vh;
  /* background-color: #ff7575; */
  background-color: #333;
}
