@font-face {
  font-family: Founder;
  src: url(/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
  font-family: CardinalR;
  src: url(/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: CardinalI;
  src: url(/cardinalfruitweb-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main-p {
  width: 100%;
  height: 100vh;
  /* background-color: #ff7575; */
  /* background-color: #333; */
  background-color: white;
}

#main {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #f2a0a0;
}

#top {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50vh;
  background-color: #fff;
  /* background-color: #ff7d7d; */
  overflow: hidden;
  z-index: 9;
}

#center {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: relative;
  transform-origin: center;
  overflow: hidden;
  /* background-color: #333; */
}

#bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50vh;
  /* background-color: #80fcd7; */
  background-color: #fff;
  overflow: hidden;
}

#main h1 {
  font-family: Founder;
  font-size: 22vw;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#top-h {
  bottom: 50%;
}

#bottom-h {
  top: 0% !important;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f2a0a0; */
  font-family: "CardinalR";
  font-size: 4vw;
  /* margin-top: 100vh; */
  /* color: #fff; */
}

.content h2 {
  color: white;
}

.img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(100, 183, 255); */
}

.img {
  width: 25vw;
  height: 50vh;
  background-image: url(https://our-revolution.com/images/60a2bs0u/production/766deb96495612e023c032afeee001063af9026e-2880x1760.png?w=1920&q=100&fit=clip&auto=format);
  background-size: cover;
  background-position: center;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  padding-top: 12vw;
  position: relative;
  z-index: 9;
  padding-top: 12vw;
}

.page1 h1 {
  font-size: 8vw;
  font-weight: 300;
  font-family: PP mori;
  margin-left: 6vw;
  transform-origin: left;
}

.page1 h2 {
  font-size: 8vw;
  font-weight: 300;
  transform-origin: left;
  margin-left: 26vw;
}

.page1 h5 {
  font-size: 20px;
  margin-left: 53vw;
}
