@font-face {
  font-family: Founder;
  src: url(/FoundersGroteskCondensed-Bold.ttf);
}

@font-face {
  font-family: CardinalR;
  src: url(/cardinalfruitweb-regular.ttf);
}

@font-face {
  font-family: CardinalI;
  src: url(/cardinalfruitweb-italic.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main-p {
  width: 100%;
  height: 100vh;
  /* background-color: #ff7575; */
  background-color: #333;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: #f2a0a0;
}

#top {
  width: 100%;
  height: 50vh;
  background-color: #fff;
}

#bottom {
  width: 100%;
  height: 50vh;
  background-color: #80fcd7;
}
